:root{
    --cor_seila: pink;
    --cor_naoseikk: blue;
}
body{
    background-color: var(--cor_seila);
}
h1{
    color: var(--cor_naoseikk)
}
.principal{
    border: solid white 2px;
    text-align: center;
    height: 600;
    width: 500px;
    border-radius: 10%;
}
button{
    text-align: center;
}