:root{
    --cor_seila: pink;
    --cor_naoseikk: white;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor_seila);
}
main {
    border: solid black 2px;
    padding-left: 737px;
}
.main{
    border: solid white 2px;
    text-align: center;
    height: 500px;
    width: 400px;
    border-radius: 20%;
    background-color: white;
    padding: 10px;

}
h1{
    color: var(--cor_naoseikk);
    text-align: center;
}
button{
    text-align: center;
}

    
